doctype html 

html
  head
    title Add Map
    script(src='/javascripts/map.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h3 My Google Maps Demo
    #map
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7NBXYFfCCpz2SEggqiBIVgPaMZC9fwwo&callback=initMap&libraries=&v=weekly" async)
